      <% @products.each do |product| %>
  <div class="col mb-5">
    <div class="card h-100">
      <%= link_to  product_path(product.id) do %>
        <div style="height: 200px;">
          <%= image_tag product.image, class: "img-fluid ", style: "height: 100%; width: 100%; object-fit:cover; " if product.image.attached? %>
        </div>
      <%end%>
      <div class="card-body p-4">
        <div class="text-center">
          <h5 class="fw-bolder"><%= link_to product.name,product_path(product.id)%></h5>
          <%= "#{product.price}円" %>
        </div>
      </div>
      <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">カートに追加</a></div>
      </div>
      <% if Admin.exists? %>
      <div class="container">
        <div><%= button_to "編集",{ },{ class: "btn btn-success" }%></div>
        <div><%= button_to "削除",{ },{ class: "btn btn-danger" }%></div>
      </div>
      <% end %>
    </div>
  </div>
<% end %>
