<div id="<%= dom_id customer %>">
  <p>
    <strong>Last name:</strong>
    <%= customer.last_name %>
  </p>
  <p>
    <strong>First name:</strong>
    <%= customer.first_name %>
  </p>
  <p>
    <strong>User name:</strong>
    <%= customer.user_name %>
  </p>
  <p>
    <strong>Email:</strong>
    <%= customer.email %>
  </p>
  <p>
    <strong>Address:</strong>
    <%= customer.address %>
  </p>
  <p>
    <strong>Address2:</strong>
    <%= customer.address2 %>
  </p>
  <p>
    <strong>Pref:</strong>
    <%= customer.pref %>
  </p>
  <p>
    <strong>City:</strong>
    <%= customer.city %>
  </p>
  <p>
    <strong>Zip:</strong>
    <%= customer.zip %>
  </p>
  <p>
    <strong>Credit name:</strong>
    <%= customer.credit_name %>
  </p>
  <p>
    <strong>Credit number:</strong>
    <%= customer.credit_number %>
  </p>
  <p>
    <strong>Credit expiration:</strong>
    <%= customer.credit_expiration %>
  </p>
  <p>
    <strong>Credit cvv:</strong>
    <%= customer.credit_cvv %>
  </p>
</div>
