<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <div class="col-md-6" style="height: 400px;"> <%= image_tag @product.image, class: "card-img-top mb-5 mb-md-0",style: "height: 100%; width: 100%; object-fit:cover;" if @product.image.attached? %></div>
      <div class="col-md-6">
        <div class="small mb-1"><%= @product.product_code%></div>
        <h1 class="display-5 fw-bolder"><%= @product.name %></h1>
        <div class="fs-5 mb-5">
          <p><%= "#{@product.price}円" %></p>
        </div>
        <p class="lead"><%= @product.description%></p>
        <div class="d-flex">
          <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
          <button class="btn btn-outline-dark flex-shrink-0" type="button">
            <i class="bi-cart-fill me-1"></i>
            カートに追加
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Related items section-->
<section class="py-5 bg-light">
  <div class="container px-4 px-lg-5 mt-5">
    <h2 class="fw-bolder mb-4">関連商品</h2>
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <% @suggested_products.each do |suggested_product|%>
        <div class="col mb-5">
          <div class="card h-100" >
            <%= image_tag suggested_product.image, class: "img-fluid",style: "height: 200px; width: 100%; object-fit:cover;" if suggested_product.image.attached? %>
            <!-- Product details-->
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder"><%=suggested_product.name%></h5>
                <!-- Product price-->
                <%= "#{suggested_product.price}円"%>
              </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
