<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <% @products.each do |product| %>
        <div class="col mb-5" >
          <div class="card h-100 ">
            <%= link_to product_path(product.id)  do %>
              <div style="height:230px;">
                <%= image_tag product.image,class:"w-100 h-100", style:" aspect-ratio: 2 / 1;"   if product.image.attached? %>
              </div>
            <%end%>
            <div class="card-body p-4">
              <div class="text-center">
                <h5 class="fw-bolder"><%= link_to product.name,product_path(product.id) %></h5>
                <%= "#{product.price}円" %>
              </div>
            </div>
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center">
              <%= button_to "Add to cart","/cart_products/#{product.id}" ,{method: :post, class: "btn btn-outline-dark mt-auto" }%></div>
            </div>
          </div>
        </div>
      <% end %>
    </section>
